@keyframes animacao {
    0%{
        background-color: black;
    }
    20%{
        background-color: red;
        width: 500px;
    }
    40%{
        background-color: aqua;
        transform: rotate(360deg);
    }
    60%{
        background-color: yellow;
        border-radius: 100%;
    }
    80%{
        background-color: chartreuse;
        margin-left: 200px;
    }
    100%{
        background-color: violet;
    }
}

@font-face {
    font-family: FlowersKingdom;
    src: url(../Fonts/flowers_kingdom/Flowers\ Kingdom.ttf);
}

:root {
    --background: rgb(222, 222, 222);
    --fontePrimaria: FlowersKingdom;
}

* {
    padding: 0%;
    margin: 0%;
    /* font-family: ; */
}

p{
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: var(--fontePrimaria), 'Times New Roman', 'Arial';
}

#caixa{
    width: 300px;
    height: 300px;
    background-color: blue;
    animation: animacao 5s infinite;
}