body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    padding: 0%;
}

#bannerCadastro, #formularioCadastro{
    width: 50%;
    padding: 10px 0px;
}

#bannerCadastro{
    background-image: url(../images/bf6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
}

#formularioCadastro{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

#formularioCadastro form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputLabel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgb(218, 218, 218);
    transition: 0.5s;
}

input:focus{
    background-color: rgb(230, 230, 230);
    transition: 0.5s;
}

button{
    width: 150px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(218, 218, 218);
    border: none;
    background-color: var(--corPrimaria);
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover{
    transition: 0.5s;
    background-color: var(--branco);
    color: var(--corPrimaria);
}

#labelButton{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}